<footer class="site-footer clearfix">
	<div class="copyright">
		<section class="copyright">Copyright <a href="/">{{@blog.title}}</a> &copy; 2013 &bull; All rights reserved.</section>
	</div>
</footer>