<nav id="navigation">
	<ul>
		<li><a href="http://suzannewang.com"><i class="fa fa-home"></i></a></li>
		<li><a href="http://suzannewang.com/about">About</a></li>
    <li><a href="http://suzannewang.com/projects">Projects</a></li>
    <li><a href="http://suzannewang.com/yoga">Yoga</a></li>
	</ul>
</nav>