<nav class="pagination" role="navigation">
    {{#if prev}}
        <a href="{{pageUrl prev}}" class="page-prev">&hellip;newer</a>
    {{/if}}
    <span class="page-number">{{page}}/{{pages}}</span>
    {{#if next}}
        <a href="{{pageUrl next}}" class="page-next">older&hellip;</a>
    {{/if}}
</nav>